<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CuponHosting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/tuktuk.css" %}">
    <link rel="stylesheet" href="{% static "css/tuktuk.theme.css" %}">
    <link rel="stylesheet" href="{% static "css/tuktuk.icons.css" %}">
    <link rel="stylesheet" href="{% static "css/cuponhosting.css" %}">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{% static "js/tuktuk.js" %}"></script>
    <script>
    	function activar_hosting(){
	    	document.getElementById("dominio_inactivo").style.display="";
	    	document.getElementById("dominio_activo").style.display="none";
	    	document.getElementById("hosting_inactivo").style.display="none";
	    	document.getElementById("hosting_activo").style.display="";
	    	document.getElementById("hosting").style.display="";
	    	document.getElementById("dominio").style.display="none";
    	}
    	function activar_dominio(){
	    	document.getElementById("dominio_inactivo").style.display="none";
	    	document.getElementById("dominio_activo").style.display="";
	    	document.getElementById("hosting_inactivo").style.display="";
	    	document.getElementById("hosting_activo").style.display="none";
	    	document.getElementById("hosting").style.display="none";
	    	document.getElementById("dominio").style.display="";
    	}
    </script>
</head>
<body class="text thin">
	<header class="bck dark padding color white">
	<div class="row">	
		<div class="colum_6">
			<img src="{% static "images/logo.png" %}" class="logo on-left">
			<h2 class="text italic thin,logo on-left">CuponHosting</h2>
		</div>
		<nav class="colum_6 text right bold">
				<a href="#" class="button small">Mis Servicios</a>
				<!-- <a href="#" class="button small">Soporte</a> -->
				<a href="/cerrar-sesion/" class="text big icon cog" data-tuktuk-box="menu"></a>
		</nav>
	</div>
	</header>
	<article>
	<section class="padding bck light">
		<div class="row text center devices">
			<div class="column_6">
				<span id="hosting_activo" class="icon desktop"; onclick=""></span>
				<span id="hosting_inactivo" class="icon desktop" style="opacity:0.1; display:none;" onclick="activar_hosting()";></span>
			</div>
			<div class="column_6">
				<span id="dominio_activo" class="icon globe" style="display:none" onclick=""></span>
				<span id="dominio_inactivo" class="icon globe" style="opacity:0.1;" onclick="activar_dominio()";></span>
			</div>
		</div>
		<div id="hosting" class="row margin-top">
			<table class="text align center">
				<tbody>
					<h3>Hosting</h3>
					<tr>
						<th class="icon list-ol"> Codigo de Hosting</th>
						<th class="icon cloud"> Plan</th>
						<th class="icon globe"> Dominio Principal</th>
						<th class="icon calendar"> Fecha de Compra</th>
						<th class="icon time"> Duracion</th>
						<th class="icon calendar"> Fecha de Vencimiento</th>
					</tr>
					{% for hosting in lista_hosting %}
						<tr>
							<td>{{hosting.codigo}}</td>
							<td>{{hosting.plan}}</td> 
							<td>{{hosting.dominio_principal}}</td>  
							<td>{{hosting.fecha_compra}}</td>
							<td>{{hosting.duracion}}</td>
							<td class="highlight">{{hosting.fecha_vencimiento}}</td>
							<!--<td class="highred">{{hosting.fecha_vencimiento}}</td>-->	
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div id="dominio" class="row margin-top" style="display:none">
			<table class="text align center">
				<tbody>
					<h3>Dominio</h3>
					<tr>
						<th class="icon list-ol"> Codigo de Dominio</th>
						<th class="icon globe"> Dominio</th>
						<th class="icon calendar"> Fecha de Compra</th>
						<th class="icon time"> Duracion</th>
						<th class="icon calendar"> Fecha de Vencimiento</th>
					</tr>
					{% for dominio in lista_dominios %}
						<tr>
							<td>{{dominio.codigo}}</td>
							<td>{{dominio.dominio}}</td>
							<td>{{dominio.fecha_compra}}</td>
							<td>{{dominio.duracion}}</td>
							<td class="highlight">{{dominio.fecha_vencimiento}}</td>		
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</section>
	</article>
	<footer class="bck dark padding color white">
		<div class="row margin-top margin-bottom text align center">
			<div class="column_4">
				<p>Derechos Reservados </p>
			</div>
			<div class="column_4">
				<p class="text bold big">
				Cupon Hosting
				</p>
			</div>
			<div class="column_4">
				<p>Colombia - 2013</p>
			</div>
		</div>
	</footer>
</body>
</html>